html{
    scroll-behavior: smooth;
}
@media (max-width: 700px){
    html{
        font-size: 14px;
    }
}
@media (max-width: 500px){
    html{
        font-size: 12px;
    }
}

:root{
    --navbar-height: 55px;
    --column-width: 7.14%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    z-index: 1;
}

body{
    overflow-x: hidden;
}

.App_container{

    height: 100%;
    overflow-x: hidden;
    
}
@media (max-width: 1200px) {

    .App_container{
        height: 100%;
    overflow-y: hidden;
    }

}

section{
    scroll-snap-align: start;
}

div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 100%;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    background-color: white;
    color: black;
    border: none;
    width: fit-content;
    cursor: pointer;
}

.bolder{
    font-weight: 800 !important;

}

.bold{
    font-weight: 700 !important;
}

.semi_bold{
    font-weight: 600;
}

.regular{
    font-weight: 500;
}


